
@{
    ViewData["Title"] = "EmptyPage";
}

<div class="row wrapper border-bottom white-bg page-heading">
  
</div>
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h2 class="font-bold">HATA !</h2>

                <div class="error-desc">
                   <span><i class="fa fa-info-circle mr-2"></i>Yetkiniz olmayan bir sayfaya erişmeye çalışıyorsunuz</span>
                </div>


            </div>
        </div>
